# Root ignores
Backend/build/
Backend/bin/
Frontend/node_modules/
Frontend/dist/
.vscode/
.idea/
*.iml
*.log
uploads/
ai-diagnosis-service/__pycache__/
ai-diagnosis-service/.venv/
ai-diagnosis-service/data/
ai-diagnosis-service/label_encoder.pkl/
ai-diagnosis-service/feature_names.pkl/
ai-diagnosis-service/diagnosis_model.pkl/
ai-diagnosis-service/requirements.txt/

